{{#returnContainer}}{{#isMapContainer}}Map<String, {{{returnType}}}>{{/isMapContainer}}{{#isListContainer}}Flux<{{{returnType}}}>{{/isListContainer}}{{/returnContainer}}{{^returnContainer}}Mono<{{{returnType}}}>{{/returnContainer}}